
               body{
                background-image:url("qualitynightcat.png");
                background-size:cover;
                text-align: center;
                background-position: center;
                height:100%;
    }
    .nav{
         margin-top:10px;
        flex-direction:row;
        display:flex;
        align-items:left;
    }
    .nav img{
        margin-right:80px;
        margin-left:70px;
        margin-right:850px;
    }.logged{
        width:300px;
        text-align: left;
        margin-left:500px ;
        background-color:rgba(185, 61, 223, 0.3);
        margin-top: 70px;
        backdrop-filter:blur(10px);
        border-radius:20px;
        padding:10px;
        display:flex;
        flex-direction:column;
        align-items: center;
        height:auto;
    }.logged p{
        text-align: left;
    }
    
    
    .Wsaver{
            flex-direction:column;
            display:flex;
            height:100%;
        }
    .sudlanan{
        width:300px;
        margin-left:500px ;
        background-color:rgba(255,255,255, 0.3);
        margin-top: 50px;
        backdrop-filter:blur(10px);
        border-radius:20px;
        padding:10px;
        display:flex;
        flex-direction:column;
        align-items: center;
        height:auto;  
}
    .sudlanan h1{
        text-shadow: 2px 2px 5px rgb(219, 97, 233);
        color:rgb(0, 0, 0);
         animation:float 5s infinite;
       .radio{
        flex-direction:row;
        display:flex;
       }
}
    .sudlanan form{
        color:rgb(0, 0, 0);
        justify-content: center;
        width: 50%;
        flex-direction:column;
        line-height: 30px;
        display:flex;
        margin-bottom: 30px;
    } 
    .sudlanan form label{
        margin:2px;
        text-align:left;
    }
    .inputU{
        text-transform:uppercase;
        color:blue;
    }
    .checkbox{
        font-size: 12px;;
    }
        .bt{
            background-color:rgba(99, 77, 77, 0.7);
            box-shadow: 5px 5px 10px rgb(0, 0, 0);
            color:white;
            margin-top: 10px;
            border:none;
            border-radius:50px;
            padding: 12px 20px;
            cursor:pointer;
        }.navbutton{
            text-decoration:none;
            margin-left:600px;
            text-decoration:none;
            min-width:auto;
            min-height:auto;
            
        }.but{
            
            text-decoration:none;
            display:row;
            backdrop-filter:nlur(10px);
            background-color:rgba(249, 247, 247, 0.3);
            border-radius:20px;
            border:none;
            transition:background-color 0.3s;
            padding:10px 9px;
            font-size:17px;
        }
        .navbuttons .but:hover{
            transform:scale(1.1);
            background-color:rgba(69, 13, 92, 0.1);
            color:purple
        }.bt:hover{
            transform:scale(1.1);
            opacity:0.5;
            }

        